.me {
    position: relative;
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    padding: 2.3625em 0 12.3625em;
    position: relative;
}

.me--heading {
    font-size: 10.325vw;
    max-width: 400px;
    color: #0097A7;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 0.85em;
    display: inline-block;
    padding: 0 30px;
    z-index: 1;
    position: relative;
    transition: opacity 500ms linear, transform 600ms linear;
}

.me--heading[data-active="off"] {
    opacity: 0;
    transform: translateY(1.5em);
}

.me--heading[data-active="on"] {
    opacity: 1;
    transform: translateY(-1.5em);
}

.me--info {
    font-weight: 600;
    background-color: #333;
    padding: 1.625em 0;
    transition: opacity 500ms linear, transform 100ms linear;
    transform: translateY(0);
}

.me--info[data-active="off"] {
    opacity: 0;
}

.me--info[data-active="on"] {
    opacity: 1;
}

.me--info > p {
    font-size: 1.325em;
    color: rgba(255,255,255,0.4);
    padding: 1.25em 1.8625em;
}

.me--sections-section {
    width: 100%;
    padding: 9.3625em 1.8625em;
    background-color: #0097A7;
}

@media screen and (min-width: 768px) {
    .me--info {
        position: absolute;
        width: 60vw;
        right: 50px;
        bottom: 100px;
        box-shadow: 0 0px 2px rgba(0,0,0,0.5);
    }

    .me--heading {
        font-size: 6.325vw;
        padding-left: 100px;
    }

    .me--info > p {
        font-size: 2vw;
        font-weight: lighter;
    }
}

@media screen and (min-width: 1280px) {
    .me--heading {
        font-size: 80.96px;
    }

    .me--info {  width: 768px; }

    .me--info > p {
        font-size: 25.6px;
    }
}
