@import url('https://fonts.googleapis.com/css?family=Joti+One|Open+Sans:300,400,600,700,800');

/**
*    Animations
**/
@keyframes bounceOver {
    0% { transform: translateY(-5.525vw); }
    25% { transform: translateY(-10.825vw); }
    100% { transform: translateY(1vw);}
}

@keyframes bounceBack {
    100% { transform: translateY(-5.525vw); }
    25% { transform: translateY(-10.825vw); }
    0% { transform: translateY(0vw);}
}


* {
    box-sizing: border-box;
}

body,
html {
    background-color: #00BCD4;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body a,
body a:visited {
    color: #333;
    text-decoration: none;
}

body ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body button[type] {
    cursor: pointer;
}
